{% extends "student/index-2.html" %}


{% load static %}

{% block content %}
<div class="content-body">
    <!-- row -->
    <div class="container-fluid">
            
        <div class="row">
            <div class="col-xl-3 col-xxl-3 col-sm-6">
                <div class="widget-stat card bg-primary">
                    <div class="card-body">
                        <div class="media">
                            <span class="mr-3">
                                GH₵
                            </span>
                            <div class="media-body text-white">
                                <p class="mb-1">Total Payments</p>
                                <h3 class="text-white">3280</h3>
                                <div class="progress mb-2 bg-white">
                                    <div class="progress-bar progress-animated bg-light" style="width: 80%"></div>
                                </div>
                                <small></small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-xxl-3 col-sm-6">
                <div class="widget-stat card bg-warning">
                    <div class="card-body">
                        <div class="media">
                            <span class="mr-3">
                                GH₵
                            </span>
                            <div class="media-body text-white">
                                <p class="mb-1">Arrears</p>
                                <h3 class="text-white">245</h3>
                                <div class="progress mb-2 bg-white">
                                    <div class="progress-bar progress-animated bg-light" style="width: 50%"></div>
                                </div>
                                <small></small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-xxl-3 col-sm-6">
                <div class="widget-stat card bg-secondary">
                    <div class="card-body">
                        <div class="media">
                            <span class="mr-3">
                                GH₵
                            </span>
                            <div class="media-body text-white">
                                <p class="mb-1">Balance</p>
                                <h3 class="text-white">28</h3>
                                <div class="progress mb-2 bg-white">
                                    <div class="progress-bar progress-animated bg-light" style="width: 76%"></div>
                                </div>
                                <small></small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-xxl-3 col-sm-6">
                <div class="widget-stat card bg-danger">
                    <div class="card-body">
                        <div class="media">
                            {% comment %} <span class="mr-3">
                                
                            </span> {% endcomment %}
                            <div class="media-body text-white">
                                <p class="mb-1">Number of Payment</p>
                                <h3 class="text-white">3</h3>
                                <div class="progress mb-2 bg-white">
                                    <div class="progress-bar progress-animated bg-light" style="width: 30%"></div>
                                </div>
                                <small> Last Payment: </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
            
            
        
            <div class="col-xl-12 col-xxl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Fees Payment List</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive recentOrderTable">
                            <table class="table verticle-middle table-responsive-md">
                                <thead>
                                    <tr>
                                        <th scope="col">No.</th>
                                        <th scope="col">Semester</th>
                                        <th scope="col">Level</th>
                                        <th scope="col">Date Of Payment</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Fees</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>01</td>
                                        <td>Second Semester</td>
                                        <td>200</td>
                                        <td>01 August 2020</td>
                                        <td><span class="badge badge-rounded badge-primary">Checkin</span></td>
                                        <td>120$</td>
                                        
                                    </tr>
                                    
                                    
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>


{% endblock content %}