    {% load static %}
    
    <script src="{% static 'dashboard/vendor/global/global.min.js' %}"></script>
	<script src="{% static 'dashboard/vendor/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'dashboard/js/custom.min.js' %}"></script>
    <script src="{% static 'dashboard/js/dlabnav-init.js' %}"></script>	
	
	<!-- Chart sparkline plugin files -->
    <script src="{% static 'dashboard/vendor/jquery-sparkline/jquery.sparkline.min.js' %}"></script>
	<script src="{% static 'dashboard/js/plugins-init/sparkline-init.js' %}"></script>
	
	<!-- Chart Morris plugin files -->
    <script src="{% static 'dashboard/vendor/raphael/raphael.min.js' %}"></script>
    <script src="{% static 'dashboard/vendor/morris/morris.min.js' %}"></script> 
	
    <!-- Init file -->
    <script src="{% static 'dashboard/js/plugins-init/widgets-script-init.js' %}"></script>
	
	<!-- Demo scripts -->
    <script src="{% static 'dashboard/js/dashboard/dashboard.js' %}"></script>
	
	<!-- Summernote -->
    <script src="{% static 'dashboard/vendor/summernote/js/summernote.min.js' %}"></script>
    <!-- Summernote init -->
    <script src="{% static 'dashboard/js/plugins-init/summernote-init.js' %}"></script>
	
	<!-- Svganimation scripts -->
    <script src="{% static 'dashboard/vendor/svganimation/vivus.min.js' %}"></script>
    <script src="{% static 'dashboard/vendor/svganimation/svg.animation.js' %}"></script>
    <script src="{% static 'dashboard/js/styleSwitcher.js' %}"></script>