{% extends "dashboard/index.html" %}


{% load static %}

{% block content %}
<div class="content-body">
    <!-- row -->
    <div class="container-fluid">
            
        <div class="row">
            <div class="col-xl-3 col-xxl-3 col-sm-6">
                <div class="widget-stat card bg-primary">
                    <div class="card-body">
                        <div class="media">
                            <span class="mr-3">
                                GH₵
                            </span>
                            <div class="media-body text-white">
                                <p class="mb-1">Total Students</p>
                                <h3 class="text-white">{{total_students}}</h3>
                                <div class="progress mb-2 bg-white">
                                    <div class="progress-bar progress-animated bg-light" style="width: 80%"></div>
                                </div>
                                <small></small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-xxl-3 col-sm-6">
                <div class="widget-stat card bg-warning">
                    <div class="card-body">
                        <div class="media">
                            <span class="mr-3">
                                GH₵
                            </span>
                            <div class="media-body text-white">
                                <p class="mb-1">Total Payment</p>
                                <h3 class="text-white">{{payments}}</h3>
                                <div class="progress mb-2 bg-white">
                                    <div class="progress-bar progress-animated bg-light" style="width: 50%"></div>
                                </div>
                                <small></small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-xxl-3 col-sm-6">
                <div class="widget-stat card bg-secondary">
                    <div class="card-body">
                        <div class="media">
                            <span class="mr-3">
                                GH₵
                            </span>
                            <div class="media-body text-white">
                                <p class="mb-1">Total payment this month</p>
                                <h3 class="text-white">{{total_payment_this_month}}</h3>
                                <div class="progress mb-2 bg-white">
                                    <div class="progress-bar progress-animated bg-light" style="width: 76%"></div>
                                </div>
                                <small></small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-xxl-3 col-sm-6">
                <div class="widget-stat card bg-danger">
                    <div class="card-body">
                        <div class="media">
                            {% comment %} <span class="mr-3">
                                
                            </span> {% endcomment %}
                            <div class="media-body text-white">
                                <p class="mb-1">Total payment this year</p>
                                <h3 class="text-white">{{total_payment_this_year}}</h3>
                                <div class="progress mb-2 bg-white">
                                    <div class="progress-bar progress-animated bg-light" style="width: 30%"></div>
                                </div>
                                <small> Last Payment: </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 


            <div class="col-xl-3 col-xxl-3 col-sm-6">
                <div class="widget-stat card bg-primary">
                    <div class="card-body">
                        <div class="media">
                            <span class="mr-3">
                                GH₵
                            </span>
                            <div class="media-body text-white">
                                <p class="mb-1">Total Arrears</p>
                                <h3 class="text-white">{{total_arrears}}</h3>
                                <div class="progress mb-2 bg-white">
                                    <div class="progress-bar progress-animated bg-light" style="width: 80%"></div>
                                </div>
                                <small></small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-xxl-3 col-sm-6">
                <div class="widget-stat card bg-warning">
                    <div class="card-body">
                        <div class="media">
                            <span class="mr-3">
                                GH₵
                            </span>
                            <div class="media-body text-white">
                                <p class="mb-1">Total failed payments</p>
                                <h3 class="text-white">{{total_failed_payments}}</h3>
                                <div class="progress mb-2 bg-white">
                                    <div class="progress-bar progress-animated bg-light" style="width: 50%"></div>
                                </div>
                                <small></small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-xxl-3 col-sm-6">
                <div class="widget-stat card bg-secondary">
                    <div class="card-body">
                        <div class="media">
                            <span class="mr-3">
                                GH₵
                            </span>
                            <div class="media-body text-white">
                                <p class="mb-1">Total pending payment</p>
                                <h3 class="text-white">{{total_pending_payment}}</h3>
                                <div class="progress mb-2 bg-white">
                                    <div class="progress-bar progress-animated bg-light" style="width: 76%"></div>
                                </div>
                                <small></small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-xxl-3 col-sm-6">
                <div class="widget-stat card bg-danger">
                    <div class="card-body">
                        <div class="media">
                            {% comment %} <span class="mr-3">
                                
                            </span> {% endcomment %}
                            <div class="media-body text-white">
                                <p class="mb-1">Number of Payment</p>
                                <h3 class="text-white">{{payment_count}}</h3>
                                <div class="progress mb-2 bg-white">
                                    <div class="progress-bar progress-animated bg-light" style="width: 30%"></div>
                                </div>
                                <small> Last Payment: </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
        
            <div class="col-xl-12 col-xxl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Fees Payment List</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive recentOrderTable">
                            {% comment %} <table class="table verticle-middle table-responsive-md">
                                <thead>
                                    <tr>
                                        <th scope="col">No.</th>
                                        <th scope="col">Amount</th>
                                        <th scope="col">Date Of Payment</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Fees</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for payment in payments %}
                                    <tr>
                                        <td>{{payment.id}}</td>
                                        <td>{{payment.amount_paid}}</td>
                                        <td>{{payment.date_created}}</td>
                                        <td>
                                            <span class="badge badge-rounded {{payment.status|lower}}">{{payment.status}}</span>
                                        </td>
                                        <td>{{payment.fee}}</td>
                                        
                                    </tr>
                                    {% endfor %}
                                    
                                    
                                </tbody>
                            </table> {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>


{% endblock content %}