{% extends "student/index-2.html" %}


{% load static %}

{% block content %}
<div class="content-body">
    <!-- row -->
    <div class="container-fluid">


        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Fees Collection</h4>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0);">Fees</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0);">Fees Collection</a></li>
                </ol>
            </div>
        </div>
            
        <div class="row">
            <div class="col-xl-12 col-xxl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Fees List</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive recentOrderTable">
                            <table class="table verticle-middle table-responsive-md">
                                <thead>
                                    <tr>
                                        <th scope="col">No.</th>
                                        <th scope="col">Tuition Amount</th>
                                        <th scope="col">Other Charges</th>
                                        <th scope="col">Total Fees</th>
                                        <th scope="col">Academic Year</th>
                                        <th scope="col">Date Of Issue</th>
                                        {% comment %} <th scope="col">Status</th> {% endcomment %}
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                    {% for fee in fees %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ fee.tuition_amount }}</td>
                                        <td>{{ fee.other_charges }}</td>
                                        <td>{{ fee.total_fees }}</td>
                                        <td>{{ fee.academic_year.year }}</td>
                                        <td>{{ fee.date_created }}</td>
                                        <td>
                                            {% comment %} {% if fee.is_paid %}
                                                <span class="badge badge-rounded badge-success">Paid</span>
                                            {% else %}
                                                <span class="badge badge-rounded badge-danger">Unpaid</span>
                                            {% endif %} {% endcomment %}
                                        </td>             
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>


{% endblock content %}